!--------------!
! URXVT CONFIG !
!--------------!

URxvt.internalBorder:	30
URxvt.scrollBar:	false
Xft.antialias: true
URxvt*cursorBlink: true
URxvt.letterSpace:	-1
URxvt.cursorColor:	#191919
URxvt.font: xft:Source Code Pro Semibold:size=12, xft:Hack Nerd Font Mono:size=12
!! Larger history limit
urxvt.saveLines: 1000000

!! Perl extensions
urxvt.perl-ext-common: default,matcher,font-size,clipboard,ibeamcursor
!! Open urls in browser with Control-Click
urxvt.urlLauncher: /usr/bin/firefox
urxvt.matcher.button: C1
!! Change font size on Control-Plus/Minus
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!! Transparency
URxvt*inheritPixmap: true
URxvt*transparent: true
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*shading: 25

!------------------
!  rofi colors
!------------------

rofi.color-enabled: true
rofi.color-window: #1e1e20, #2c5159, #2c5159
rofi.color-normal: #1e1e20, #c5c8c6, #1e1e20, #1e1e20, #2c5159
rofi.color-active: #1e1e20, #c5c8c6, #1e1e20, #1e1e20, #2c5159
rofi.color-urgent: #1e1e20, #c5c8c6, #1e1e20, #1e1e20, #2c5159

!------------------
!  rofi settings
!------------------

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 6
rofi.font: Source Code Pro Semibold 15
rofi.bw: 1
rofi.columns: 1
rofi.padding: 5
rofi.width: 30
rofi.show-icons: true
rofi.color-enabled: true
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true


!------------------
! Theme colors
!------------------
!
! Generated with :
! XRDB2Xreources.py
!
*.foreground:  #e6d4a3
*.background:  #1e1e1e
*.cursorColor: #bbbbbb
!
! Black
*.color0:      #161819
*.color8:      #7f7061
!
! Red
*.color1:      #f73028
*.color9:      #be0f17
!
! Green
*.color2:      #aab01e
*.color10:     #868715
!
! Yellow
*.color3:      #f7b125
*.color11:     #cc881a
!
! Blue
*.color4:      #719586
*.color12:     #377375
!
! Magenta
*.color5:      #c77089
*.color13:     #a04b73
!
! Cyan
*.color6:      #7db669
*.color14:     #578e57
!
! White
*.color7:      #faefbb
*.color15:     #e6d4a3
!
! Bold, Italic, Underline
*.colorBD:     #978771
!*.colorIT:
!*.colorUL: