
!------------------
!  Colors
!------------------

!
! Generated with :
! XRDB2Xreources.py
!
*.foreground:  #e5e5e5
*.background:  #232322
*.cursorColor: #16afca
!
! Black
*.color0:      #212121
*.color8:      #424242
!
! Red
*.color1:      #b7141f
*.color9:      #e83b3f
!
! Green
*.color2:      #457b24
*.color10:     #7aba3a
!
! Yellow
*.color3:      #f6981e
*.color11:     #ffea2e
!
! Blue
*.color4:      #134eb2
*.color12:     #54a4f3
!
! Magenta
*.color5:      #560088
*.color13:     #aa4dbc
!
! Cyan
*.color6:      #0e717c
*.color14:     #26bbd1
!
! White
*.color7:      #efefef
*.color15:     #d9d9d9
!
! Bold, Italic, Underline
*.colorBD:     #b7141f
!*.colorIT:
!*.colorUL:


!------------------
!  rofi colors
!------------------

rofi.color-enabled: true
rofi.color-window: #1e1e20, #2c5159, #2c5159
rofi.color-normal: #1e1e20, #c5c8c6, #1e1e20, #1e1e20, #2c5159
rofi.color-active: #1e1e20, #c5c8c6, #1e1e20, #1e1e20, #2c5159
rofi.color-urgent: #1e1e20, #c5c8c6, #1e1e20, #1e1e20, #2c5159

!------------------
!  rofi settings
!------------------

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 6
rofi.font: Source Code Pro Semibold 15
rofi.bw: 1
rofi.columns: 1
rofi.padding: 5
rofi.width: 30
rofi.show-icons: true
rofi.color-enabled: true
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true
